<!DOCTYPE html>
{%extends 'employer/basetemplate.html'%}
{%block body_block%}
<div class="container">
    <div class="row m-5">
        <div class="col-4"><a href="{%url 'listemployee'%}"class="text-decoration-none">Back</a></div>
        <div class="col-4 m-3">
            <h2>Add Employee</h2>
            <form action="" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                {{form.as_p}}
                <button type="submit" class="btn-success">Add new Employee</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
{%endblock%}